[submodule "doc_arch"]
	path = doc/doc_arch
	url = git@github.com:kbecker0619/cwsw_arch_doc.git
[submodule "doc/doc_lib"]
	path = doc/doc_lib
	url = git@github.com:kbecker0619/cwsw_lib_doc.git
[submodule "doc/doc_board"]
	path = doc/doc_board
	url = git@github.com:kbecker0619/cwsw_board_doc.git
[submodule "ut/ut_lib"]
	path = ut/ut_lib
	url = git@github.com:kbecker0619/cwsw_lib_ut.git
[submodule "ut/ut_arch"]
	path = ut/ut_arch
	url = git@github.com:kbecker0619/cwsw_arch_ut.git
[submodule "ut/ut_board"]
	path = ut/ut_board
	url = git@github.com:kbecker0619/cwsw_board_ut.git
[submodule "cwsw_lib"]
	path = cwsw_lib
	url = git@github.com:kbecker0619/cwsw_lib_code.git
[submodule "cwsw_board"]
	path = cwsw_board
	url = git@github.com:kbecker0619/cwsw_board_code.git
[submodule "cwsw-arch"]
	path = cwsw_arch
	url = git@github.com:kbecker0619/cwsw_arch_code.git
