[submodule "doc_arch"]
	path = doc/doc_arch
	url = git@github.com:kbecker0619/cwsw_arch_doc.git
[submodule "doc/doc_lib"]
	path = doc/doc_lib
	url = git@github.com:kbecker0619/cwsw_lib_doc.git
[submodule "doc/doc_board"]
	path = doc/doc_board
	url = git@github.com:kbecker0619/cwsw_board_doc.git
[submodule "ut/ut_lib"]
	path = ut/ut_lib
	url = git@github.com:kbecker0619/cwsw_lib_ut.git
